<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server Sent Event Sample</title>
</head>

<body>
    <p>Open your web browser's console to see the eventing.</p>
    <div>
        <h4>Single source Events</h4>
        <button id="middleware">Middleware</button>
        <button id="controller">Controller</button>
        <button id="close">Close</button>
    </div>

    <div>
        <h4>Events all with separate source</h4>
        <button id="source1">Source1</button>
        <button id="closeSource1">CloseSource1</button>
        <button id="source2">Source2</button>
        <button id="closeSource2">CloseSource2</button>
    </div>

    <script type="text/javascript">

        var source;

        function listenForServerEvents(url) {
            if (source) source.close();

            source = new EventSource(url);

            source.onmessage = function (event) {
                console.log('onmessage: ' + event.data);
            };

            source.onopen = function (event) {
                console.log('onopen');
            };

            source.onerror = function (event) {
                console.log('onerror');
                source.close();
            };
        }

        function closeConnection() {
            if (source) source.close();
        }

        document.getElementById("middleware").addEventListener("click", function () {
            listenForServerEvents("sse");
        });

        document.getElementById("controller").addEventListener("click", function () {
            listenForServerEvents("Home/GetStream");
        });

        document.getElementById("close").addEventListener("click", function () {
            closeConnection();
        });

        listenForServerEvents('sse');

        function initiateSource1() {
            var sources = [];

            function beginSource1Event(url) {

                sources.push(new EventSource(url));

                for (var i = 0; i < sources.length; i++) {

                    sources[i].onmessage = function (event) {
                        console.log('source1 onmessage: ' + event.data);
                    };

                    sources[i].onopen = function (event) {
                        console.log('onopen');
                    };

                    sources[i].onerror = function (event) {
                        console.log('onerror');
                        closeSource1();
                    };
                }
            }

            function closeSource1(sourceID) {
                var source1;
                if (!sourceID) {
                    source1 = sources;
                }
                else {
                    source1 = sources.filter(function (s) { return s.url == "http://localhost:22623/Home/GetMultipleStream?sourceID=" + sourceID });
                }

                if (source1) {
                    for (var i = 0; i < source1.length; i++) {
                        source1[i].close();
                    }
                    sources = [];
                }
            }

            document.getElementById("source1").addEventListener("click", function () {
                beginSource1Event("Home/GetMultipleStream?sourceID=1");
            });

            document.getElementById("source2").addEventListener("click", function () {
                beginSource1Event("Home/GetMultipleStream?sourceID=2");
            });

            document.getElementById("closeSource1").addEventListener("click", function () {
                closeSource1(1);
            });

            document.getElementById("closeSource2").addEventListener("click", function () {
                closeSource1(2);
            });
        }

        initiateSource1();
    </script>
</body>
</html>